<style>
    .ng-invalid.ng-touched {
        border-color: red !important;
    }

    .ng-invalid .forgotPasswordButton {
        background: grey !important;
    }
    #errorNewPassword, #errorReEnterNewPassword{
        font-size: 11px;
        position: absolute;
        height: 24px;
        color: #fff;
        background: #FA787E;
        padding: 4px 10px 9px;
        border-radius: 12px;
        top: -16px;
    }
    #errorMessage{
        font-size: 14px;
        padding: 13px;
        color: indianred;
    }
</style>
<div class="account-user-sec registration-sec">
    <div class="account-sec">
        <div class="account-top-bar">
            <div class="container">
                <div class="logo">
                    <img src="{{webPath}}images/dexposLogo.png" height="40" width="140" />
                </div>
                <ul class="account-header-link">
                    <li><a title="" href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="acount-sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-sec">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="widget-title">
                                        <h3>Can't Signin? Forget your password?</h3>
                                        <span>Enter your email address below & we will send you password reset instructions..</span>
                                    </div><!-- Widget title -->
                                    <div class="account-form">
                                        <span id="errorMessage">{{errorMessage}}</span>
                                        <form name="resetPasswordForm" ng-submit="resetPassword()">
                                            <div class="row">
                                                <div class="col-md-6 feild">
													<span id="errorNewPassword" ng-show="resetPasswordForm.newPassword.$invalid && resetPasswordForm.newPassword.$touched">
                                                        Please Enter New Password
                                                    </span>
                                                    <input type="password" placeholder="Enter New Password"
                                                           name="newPassword" ng-model="user.newPassword" ng-required="true" />
                                                </div>
                                                <div class="col-md-6 feild">
													<span id="errorReEnterNewPassword" ng-show="resetPasswordForm.reEnterNewPassword.$invalid && resetPasswordForm.reEnterNewPassword.$touched">
                                                        Please Re-Enter Password
                                                    </span>
                                                    <input type="password" placeholder="Re-enter Password"
                                                           name="reEnterNewPassword" ng-model="user.reEnterNewPassword" ng-required="true" />
                                                </div>
                                                <div class="feild col-md-12">
                                                    <input type="submit" value="Reset"
                                                           ng-disabled="resetPasswordForm.$invalid"
                                                           class="forgotPasswordButton"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="more-option">
                                        <span>OR</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="creat-an-account">
                                        <span>Do you have an account?</span>
                                        <a href="#/login" title="">Login Now</a>
                                    </div><!-- Create an account -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Account Sec -->
</div>
